In [1]:
import pandas as pd
import numpy as np

In [2]:
_383CpGs_110_indivs_data_path = '/Users/jiangxiaoyu/Desktop/All Projects/Scalable_LVMOGP/data/arthur_datasets/GUSTO_394872data/3-9-48-72months_383CpGs_110indivs_age_related.csv'
_368CpGs_188_indivs_data_path = '/Users/jiangxiaoyu/Desktop/All Projects/Scalable_LVMOGP/data/arthur_datasets/GUSTO_394872data/3-9-48-72months_368CpGs_188indivs_for_testing.csv'
_94CpGs_110_indivs_data_path = '/Users/jiangxiaoyu/Desktop/All Projects/Scalable_LVMOGP/data/arthur_datasets/GUSTO_394872data/3-9-48-72months_94CpGs_110indivs_age_related.csv'
_91CpGs_188_indivs_data_path = '/Users/jiangxiaoyu/Desktop/All Projects/Scalable_LVMOGP/data/arthur_datasets/GUSTO_394872data/3-9-48-72months_91CpGs_188indivs_for_testing.csv'

## Horvath skin & blood clock
# Train
_383CpGs_110_indivs_data = pd.read_csv(_383CpGs_110_indivs_data_path)
# Test
_368CpGs_188_indivs_data = pd.read_csv(_368CpGs_188_indivs_data_path) # only 72 months

## PedBE clock
# Train
_94CpGs_110_indivs_data = pd.read_csv(_94CpGs_110_indivs_data_path)
# Test
_91CpGs_188_indivs_data = pd.read_csv(_91CpGs_188_indivs_data_path)

## ID ---> individual

In [9]:
_383CpGs_110_indivs_data['Months'].unique()

array([ 3,  9, 48, 72])

In [11]:
df = _383CpGs_110_indivs_data[_383CpGs_110_indivs_data['ID'] == '010-20742']

In [14]:
df

           ProbeID         ID  Months     Input    Output
0       cg12140144  010-20742       3  0.257534  0.015724
1       cg26933021  010-20742       3  0.257534  0.836433
2       cg20822990  010-20742       3  0.257534  0.025841
3       cg07312601  010-20742       3  0.257534  0.795169
4       cg09993145  010-20742       3  0.257534  0.944354
...            ...        ...     ...       ...       ...
124807  cg00343092  010-20742      72  6.052055  0.021660
124808  cg00347775  010-20742      72  6.052055  0.724674
124809  cg27131176  010-20742      72  6.052055  0.167582
124810  cg22982767  010-20742      72  6.052055  0.023156
124811  cg07016730  010-20742      72  6.052055  0.708279

[1511 rows x 5 columns]

In [12]:
pivot_df = df.pivot_table(index='ProbeID', columns='Months', values=['Input', 'Output'], aggfunc='first').reset_index()
pivot_df.columns = ['ProbeID'] + [f'{var}_{month}' for var, month in pivot_df.columns[1:]]

In [13]:
pivot_df

,ProbeID,Input_3,Input_9,Input_48,Input_72,Output_3,Output_9,Output_48,Output_72
0,cg00017842,0.257534,0.750685,4.068493,6.052055,0.718856,0.706429,0.692716,0.699959
1,cg00073460,0.257534,0.750685,4.068493,6.052055,0.825412,0.807210,0.787854,0.768741
2,cg00194146,0.257534,0.750685,4.068493,6.052055,0.060675,0.085034,0.094887,0.097228
3,cg00257455,0.257534,0.750685,4.068493,6.052055,0.151730,0.123909,0.087001,0.069205
4,cg00343092,0.257534,0.750685,4.068493,6.052055,0.020400,0.044322,0.030548,0.021660
...,...,...,...,...,...,...,...,...,...
378,cg27009703,0.257534,0.750685,4.068493,NaN,0.121021,0.125208,0.125069,NaN
379,cg27131176,0.257534,0.750685,4.068493,6.052055,0.153629,0.205137,0.203354,0.167582
380,cg27187881,0.257534,0.750685,4.068493,6.052055,0.069002,0.070097,0.071337,0.072177
381,cg27212234,0.257534,0.750685,4.068493,NaN,0.028676,0.028871,0.035179,NaN
382,cg27544190,0.257534,0.750685,4.068493,6.052055,0.016878,0.033475,0.027236,0.029110